@charset "UTF-8";
/* ================================
   Breakpoints CSS List
   ================================
   1. Mobile pequeno (portrait): 320px – 480px
   2. Mobile grande (landscape): 481px – 600px
   3. Tablet retrato: 601px – 768px
   4. Tablet paisagem / laptop pequeno: 769px – 1024px
   5. Desktop padrão: 1025px – 1200px
   6. Telas grandes / extra‑large: ≥ 1201px
   ================================ */

@media screen and (min-width: 601px) and (max-width: 768px){
    section#login{
        width: 90vw;
    }
    #login > div#imagens{
        float: left;
        width: 40%;
        height: 100%;
    }
    #login > div#formulario{
        float: right;
        width: 60%;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    section#login{
        width: 95vw;
    }
    #login > div#imagens{
        float: left;
        width: 50%;
        height: 100%;
    }
    #login > div#formulario{
        float: right;
        width: 50%;
    }
}