@charset "UTF-8";
/* ================================
   Breakpoints CSS List
   ================================
   1. Mobile pequeno (portrait): 320px – 480px
   2. Mobile grande (landscape): 481px – 600px
   3. Tablet retrato: 601px – 768px
   4. Tablet paisagem / laptop pequeno: 769px – 1024px
   5. Desktop padrão: 1025px – 1200px
   6. Telas grandes / extra‑large: ≥ 1201px
   ================================ */

@media screen and (min-width: 601px) and (max-width: 768px){
    section#login{
        width: 90vw;
    }
    #login > div#imagens{
        float: left;
        width: 40%;
        height: 100%;
    }
    #login > div#formulario{
        float: right;
        width: 60%;
    }
    #formulario >h1{
        font-size: 1.7em;
     }
    #formulario > p{
        font-size: 1em;
    }
    form> div.campo{
        margin-top: 0px;
        height: 69px;
    }
    form> div.campo > input{
        padding-bottom: 10px;
        margin-top: 22px;
    }
    form> input[type="submit"]{
        margin-right: 10px;
    }
    form > div.butao{
        margin-right: 1033px;
    }

}
@media screen and (min-width: 769px){
    section#login{
        width: 95vw;
    }
    #login > div#imagens{
        float: right;
        width: 50%;
        height: 100%;
    }
    #login > div#formulario{
        float: left;
        width: 50%;
    }
    #formulario >h1{
        font-size: 2em;
     }
    #formulario > p{
    font-size: 1.5em;
    }
    form > div.campo{
        height: 45px;
        text-align: center;
        padding-top: 5px;
        margin-left: 100px;
        margin-right: 100px;
    }
    form > input[type="submit"]{
        margin-right: 10px;
        margin-top: 30px;
    }
}