@charset "UTF-8";
/*
Paleta de cores
verde #49a09d
lilais #5f2c82
Mobile pequeno (portrait): 320px – 480px

Mobile grande (landscape): 481px – 600px

Tablet retrato: 601px – 768px

Tablet paisagem / laptop pequeno: 769px – 1024px

Desktop padrão: 1025px – 1200px

Telas grandes / extra-large: 1201px ou mais
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body, html{
    background-color:#46235e ;
    height: 89vh;display
    width: 88vw;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;

}
section#login{
    background-color: white;
    width: 255px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    
    transition-timing-function: ease;
}

#login > div#imagens{
    display: block;
    background: #46235e url(../Imagens/pexels-fotometrozero-31205021.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center center;
}
#login > div#formulario{
    padding: 10px;
    display: block;
}
#formulario > h1{
    text-align: center;
    margin-bottom: 10px;

}
#formulario > p{
    font-size: 0.8em;
}
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
}
form > input[type=submit]:hover{
    background-color: #263a39;
    
}
form > .butao{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #101414;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
    text-align: center;
}

form > .butao:hover{
    background-color: #263a39;
}